{% extends 'base.html' %}

{% load static %}
{% load my_filter %}

{% block css_additional %}
    <link rel="stylesheet" href=" {% static 'horoscope/css/info.css' %} ">
{% endblock %}


{% block title %}
    {{ zodiac_name }}
{% endblock %}



{% block content %}

    {% include 'includes/navbar.html' %}

    <h1>{{ zodiac_symbol }}</h1>
    {% if description_zodiac == None %}
        <h2>Неправильный знак зодиака {{ zodiac_name }}</h2>
    {% endif %}
    <h2> {{ description_zodiac|default:"" }} </h2>
    <h2> Даты рождения: {{ date_range|default:"" }} </h2>
    <h2> Стихия: {{ element_zodiac|default:"" }} </h2>

{% endblock %}

